.leader-board {
    min-width: 650px;
    box-sizing: border-box;
    border-left: 1px solid #e2e2e2;

    &__item {
        padding: 0 10px;
        width: 90%;
        border-radius: 4px;
        margin: 10px auto;
        height: 58px;
        justify-content: space-between;
        display: flex;
        background-color: #cfd8dc;
        align-items: center;
    }

    &__title {
        color: #939393;
        margin: 60px 0;
        text-align: center;
    }

    &__winner-name {
        font-weight: 500;
        overflow: hidden;
        font-size: 22px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #939798;
    }

    &__time {
        font-weight: 500;
        font-size: 15px;
        color: #7f8182;
    }
}
@media (max-width: 1301px) {
    .leader-board {
        border-left: none;
        min-width: 100%;
        &__list{
            padding: 0;
        }
    }
}